* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: #abb;
    max-width: 1440px; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

main {
   width: 100%;
   height: 100%;
   /* border: 1px solid red; */
   padding: 24px;
}


.container {  
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
   grid-gap: 24px;
   width: 100%;
   height: 100%;
}

/* .item {
   width: 100%;
   height: 100%;
} */

.one {
   grid-column: 1 / span 2;
   background-color: #971;
}

.two {
   grid-row: 2;
   grid-column: 1 / span 2;
   background-color: #895;
}
 
.three {
   grid-row: 1 / span 2 ;
   grid-column: 3 / span 2; 
   border: 2px solid white;
}

.four {
   grid-row: 1 / span 2;
   grid-column: 5 / span 2;
}

.child-container {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: auto;
   grid-gap: 24px;

}


.a {
   background-color: #158;
}

.b {
   background-color: #886;
}

.c {
   background-color: #bce;
}

.five {
   grid-column: 1 / 3;
   grid-row: 3 / 5;
   background-color: #dc9;
}

.six {
   grid-column: 3;
   grid-row: 3;
   background-color: #bc7;
}

.seven {
   grid-column: 3;
   grid-row: 4;
   background-color: #681;
}

.eight {
   grid-column: 4 / span 2;
   grid-row: 3 /  span 2;
   background-color: #c76;
}

.nine {
   grid-column: 6;
   grid-row: 3 / span 2;
   background-color: #e53;
}